BasedOnStyle: LLVM
Standard: c++11
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: true
AlignTrailingComments: true
IndentCaseLabels: true
IndentAccessModifiers: true
BreakTemplateDeclarations: true
ColumnLimit: 128
PackConstructorInitializers: CurrentLine
BinPackArguments: false
BinPackParameters: OnePerLine
AlignAfterOpenBracket: BlockIndent
IndentPPDirectives: BeforeHash
AlignEscapedNewlines: LeftWithLastLine
NamespaceIndentation: All
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline